* {
    box-sizing: border-box;
    /* font-family: 'Karla', sans-serif !important; */
}
.header {
    background-color: #ffffff;
    text-align: left;
    font-family: 'Karla', sans-serif !important;
    font-size: 30pt;
    color: #000000;
    padding: 10px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #92929211;
    color: white;
    text-align: center;
}
.lang-switcher {
    background-color: #ffffff;
    color: #000000;
    float: right !important;
}
.lang-switcher .lang{
    font-size: 14pt;
    cursor: pointer;
    display: inline;
}
.socialmedia{
    padding-left: 25px;
    font-size: 16pt;
    float: right !important;
}
.socialmedia a{
    display: inline;
}
.divider{
    margin-left: 2px;
    margin-right: 2px;
    border-left: 1px solid rgb(44, 44, 44);
    display: inline;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
    float: left;
    padding: 15px; 
    border: 0.5px solid rgb(202, 221, 243);
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.image-container {
    z-index: -10;
    padding-top: 18px;
}
/* .article{
    font-family: 'Karla', sans-serif !important;
    width: 36em;
    margin: 0 auto;
    line-height: 1.5;
    font-size: 18px;
} */
.home {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
}

.gallery-navigation-container{
    margin: auto;
    width: 100%;
    padding: 10px;
}
.gallery-box{
    padding: 5px;
}
.gallery-tease-image{
    position: relative;
    overflow: hidden;
    margin: 0 0px;
    display: block;
}
.gallery-tease-image::before{
    display: block;
    content: "";
    width: 100%;
    padding-top: 66.66667%;
}
.nav-box-image{
    /* display: block; */
    background-size: cover;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    background-color: transparent;
    text-decoration: none;
    background-image: url(http://www.aliciamarsans.com/webAMarsans/images/alicia1petit.jpg);
    background-repeat: no-repeat;

    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    will-change: transform;
}
.nav-box-image:hover{
        -webkit-transform: scale(1.02);
        -moz-transform: scale(1.02);
        -ms-transform: scale(1.02);
        -o-transform: scale(1.02);
        transform: scale(1.02);
}
.h3-box {
    background-color: #eeeeee;
    text-align: center;
    font-family: 'Karla', sans-serif !important;
    font-size: 16pt;
    font-weight: 100;
}
@media only screen and (max-width: 320px){
    article{
        font-size: 16px;
    }
}
.topnav {
    background-color: rgb(255, 255, 255);
    overflow: hidden;
    font-family: 'Karla', sans-serif; 
}
.topnav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ffffff;
} 
.topnav>ul>li {
    float: left;
    display: block;
    padding: 14px 16px;
    height: 50px;
}
.topnav>ul>li>ul>li {
    display: block;
    padding: 16px 0px;
    min-width:100px;
    height: 50px;
}
.topnav ul li:hover ul {
    display: block; 
    position: absolute;
}
.topnav ul ul {
    display: none;
}

.topnav ul li a {
    color: #000000;
    background: #ffffff;
    text-decoration: none;
    font-size: 13px;
    display: inline-block;
}
/*Style for dropdown links*/
.topnav ul li ul li a {
    background: #ffffff;
    color: #000000;
    font-size: 11px;
    text-decoration: none;
    display: inline-block;
}

/*Hover state for top level links*/
.topnav ul li a:hover {
    border-bottom: #c1cef5 0.2pt groove;
    /* background: #edfbfc; */
}

/*Responsive Styles*/
@media screen and (max-width : 760px){
    /*Make dropdown links appear inline*/
    /* ul {
        position: static;
        display: none;
    } */
    /*Create vertical spacing*/
    /* li {
        margin-bottom: 1px;
    } */
    /*Make all menu links full width*/
    /* ul li, li a {
        width: 100%;
    } */
    /*Display 'show menu' link*/
    /* .show-menu {
        display:block;
    } */
}